---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import ImageWrapper from "@/components/misc/ImageWrapper.astro";
import PersonCard from "@/components/PersonCard.astro";

const memberList = await getEntry("people", "members");
const alumniList = await getEntry("people", "alumni");
---

<MainGridLayout>
  <ImageWrapper
    src="team.png"
    basePath="/content/people/images/"
    class="rounded-md"
  />
  <div
    class="max-w-7xl mx-auto px-4 py-6 text-black dark:text-white onload-animation"
    id="content-wrapper"
  >
    {
      memberList.data.map((group) => (
        <section class="mb-12">
          <h2 class="text-2xl font-bold mb-6">{group.category}</h2>
          <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            {group.members.map((person) => (
              <PersonCard person={person} />
            ))}
          </div>
        </section>
      ))
    }
    {
      alumniList.data.map((group) => (
        <section class="mb-12">
          <h2 class="text-2xl font-bold mb-6">Alumni</h2>
          <ul class="list-disc pl-6">
            {group.members.map((member) => (
              <li class="mb-2">
                {member.name} ({member.description})
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</MainGridLayout>
