---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import PostPage from "../components/PostPage.astro";
import Pagination from "../components/control/Pagination.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";
import ImageWrapper from "../components/misc/ImageWrapper.astro";
import path from "path";
import { getDir } from "../utils/url-utils";
import ResearchList from "../components/ResearchList.astro";
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992
const introContent = await getEntry("main", "intro");
const newsContent = await getEntry("main", "news");
const researchList = await getEntry("research", "list");

const { Content: IntroContent } = await introContent.render();
const { Content: NewsContent } = await newsContent.render();

const demoVideos = [
  "/demo/3DMem_real.webm",
  "/demo/3dvla.webm",
  "/demo/robogen.webm",
  "/demo/genesis.webm",
  "/demo/VirtualCommunity.webm",
  "/demo/CoELA.webm",
];
---

<MainGridLayout>
  <div class="px-4">
    <div
      class="mt-8 md:max-w-[40vw] mx-auto grid grid-cols-2 grid-rows-3 gap-2"
    >
      {
        demoVideos.map((src) => (
          <div class="aspect-video flex items-center justify-center">
            <video
              autoplay
              loop
              muted
              playsinline
              class="w-full h-full object-fill"
            >
              <source src={src} type="video/webm" />
            </video>
          </div>
        ))
      }
    </div>

    <div
      class="mt-8 flex flex-col items-center text-center text-balance text-black/80 dark:text-white/80 [&_h1]:text-2xl [&_h1]:font-bold [&_h1]:mb-4 [&_p]:text-base [&_p]:max-w-[80ch] [&_p]:mb-6 [&_a]:cursor-pointer [&_a]:hover:underline"
    >
      <IntroContent />
    </div>

    <div class="mt-12 text-black/80 dark:text-white/80">
      <h2 class="text-2xl font-bold mb-6">Latest News</h2>
      <div class="space-y-4 [&>ul]:list-disc [&>ul]:pl-8">
        <NewsContent />
      </div>
    </div>
  </div></MainGridLayout
>
