---
import { getEntry } from "astro:content";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import ResearchList from "@components/ResearchList.astro";
import { getResearchYearList } from "@utils/content-utils";

export async function getStaticPaths() {
  const years = await getResearchYearList();
  return years.map((year) => ({
    params: { year: year.key },
  }));
}

const year = Astro.params.year;
const researchList = await getEntry("research", "list");
researchList.data = researchList.data.filter(
  (item) => parseInt(item.year) === parseInt(year),
);
---

<MainGridLayout>
  <h2 class="text-black dark:text-white/50 text-3xl mt-8 mb-4">
    Publications in {year}
  </h2>
  <ResearchList list={researchList} />
</MainGridLayout>
